{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base_css.css'%}">
    <title>Armazem</title>
</head>
<body>
    
    <center>
        <h2>
        Cadastro de produtos
        </h2>
        <br>
        <form action="{% url 'cadastro' %}" method="POST">
        {% csrf_token %}
            <input type="text" name="nome" placeholder="digite seu nome..." style="width: 200px;" >
            <br>
            <select name="categoria" style="width: 208px;">
                <option value="">Nenhuma</option>
                <option value="0">Bebida</option>
                <option value="1">Comida</option>
                <option value="2">Outros</option>
            </select>
            <br>
            <input type="date" name="data_validade" placeholder="Digite a sua data_validade" style="width: 200px;">
            <br>
            <input type="text" name="codigo_identificador" placeholder="Digite o seu codigo_identificador" style="width: 200px;">
            <br>
            <input type="number" name="valor" placeholder="Digite o seu valor" style="width: 200px;">
            <br>
            <input type="number" name="quantidade" placeholder="Digite a quantidade" style="width: 200px;">
            <br>
            <input type="text" name="corredor" placeholder="Digite qual o corredor" style="width: 200px" >
            <br>
            <input type="number" name="prateleira" placeholder="Digite qual a prateleira" style="width: 200px" >
            <br>  
            <button type="submit">
                Enviar
            </button>
            <a href="{% url 'editar_produtos' %}">
             <button type="button">Editar Produtos</button>
            </a>
        </form>
    </center>
    
</body>
</html>